::-webkit-scrollbar {
  display: none;
}

.background {
    /* background: linear-gradient(#e66564, #9198e5);
    background-image: url(./images/cupcakes.jpg); */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 160rem;
  }
  
  .scrollText {
    border: 2px red solid;
    /* font-size: 1.5rem; */
    height: 150vh;
    width: 100%;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    height: 36rem;
    width: 50%;
    text-align: center;
    border-radius: 10px;
  }
  
  .parallax {
    margin-right: 15%;
  }
  
  .sticky {
    margin-left: 0%;
    background-color: #ff6d6d;
  }
  
  .blue {
    margin-right: 0;
    background-color: #5b65ad;
    color: white;
  }
  
  .purple {
    margin-right: 0;
    background-color: #9d65d0;
  }
  
  /* @media (max-width: 750px) {
    .card {
      width: 40%;
    }
  
    .parallax {
      margin-right: 1.5rem;
    }
  
    .sticky {
      margin-left: 1.5rem;
    }
  } */
   